<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.toreo.torero" >

    <uses-sdk tools:overrideLibrary="io.conekta.tokenizer" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfirmarActivity"
            android:label="@string/title_activity_confirmar"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".PopupTerminos"
            android:label="@string/title_activity_popup_terminos" >
        </activity>
        <activity
            android:name=".Terminos"
            android:label="@string/title_activity_terminos"
            android:parentActivityName=".ConfirmarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.toreo.torero.ConfirmarActivity" />
        </activity>
        <activity
            android:name=".AvisoPrivacidad"
            android:label="@string/title_activity_aviso_privacidad"
            android:parentActivityName=".Terminos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.toreo.torero.Terminos" />
        </activity>
        <activity
            android:name=".Pagar"
            android:label="@string/title_activity_pagar"
            android:parentActivityName=".AvisoPrivacidad" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.toreo.torero.Terminos" />
        </activity>
        <activity
            android:name=".Gracias"
            android:label="@string/title_activity_gracias" >
        </activity>
    </application>

</manifest>
